.main {
  min-width: 99vw;
  margin: auto;
  min-height: 100vh;
  position: relative;
}

.main h1 {
  font-size: 80px;
  background: -webkit-linear-gradient(45deg, var(--yellow), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal {
  width: 500px;
  height: 500px;
  margin: auto;
}

.banner {
  position: relative;
  background-image: url(../images/Imagem\ -\ Background.png);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100vw;
  height: 672px;
}

.banner h1 {
  color: white;
  font-size: 80px;
  padding: 32px;
  border-radius: 8px;
}

.banner select {
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  width: 200px;
  font-family: 'Montserrat Alternates', monospace, sans-serif;
  text-align: center;
  margin: 4px 8px;
  font-size: 1.4rem;
}

.banner select option {
  color: black;
}

.banner img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 70vh;
  object-fit: cover;
}

.banner ~ p {
  font-size: 2rem;
  width: 80%;
  margin: auto;
  margin-bottom: 32px;
}

.card_sect {
  width: 80%;
  margin: 0 auto 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 30%;
  background-color: white;
  margin: 16px 32px;
  border-radius: 8px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.card img {
  width: 100%;
  margin-bottom: 12px;
}

.card h2 {
  margin-bottom: 8px;
}

.card p {
  margin-bottom: 8px;
}

.card a {
  width: 90%;
  padding: 12px;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  text-decoration: none;
}

.card a:hover {
  opacity: 0.8;
}

.card a:active {
  background-color: var(--light-pink);
}

.metrics {
  width: 300px;
  padding: 12px;
  background-color: var(--pink);
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  margin-bottom: 64px;
  cursor: pointer;
}

.metrics:hover {
  opacity: 0.8;
}

.metrics:active {
  background-color: var(--light-pink);
}
