@import '../../../App.scss';

.logo {
  font-size: 80px;
  font-family: 'Changa One', cursive;
  font-weight: 400;
  background: -webkit-linear-gradient(45deg, $yellow, $pink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.banner {
  background-image: url(../../../images/Imagem-Background.png);
  height: 680px;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  padding: 8px 64px;

  & .entry_text {
    font-size: 80px;
    width: 45%;
  }

  & p {
    font-size: 32px;
    width: 45%;
    font-weight: 400;
  }
}
