.logo {
  font-size: 48px;
  font-weight: 400;
  background: -webkit-linear-gradient(45deg, var(--yellow), var(--pink));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
